Django~=4.2.6
pip-tools~=7.4.0
python-dotenv~=1.0.0
requests~=2.32.0  # can't go higher, because it requires urllib3 2.x, which requires a version of open-ssl newer than the one on our servers.
trio~=0.26.0
urllib3~=2.1.0
